<launch>
    <!-- Extended Kalman Filter -->
    <arg name="ekf" default="true"/>
    
    <!-- for the TF settings-->
    <node pkg='tf2_ros' type="static_transform_publisher" name="base_link_to_imu" 
        args='0.0 0.0 0.12 0.0 0.0 0.0 1.0 base_link imu'/>
        
    <node pkg='tf2_ros' type="static_transform_publisher" name="base_link_to_lidar"
        args='0.11 0.0 0.50 0.0 0.0 0.0 1.0 base_link lidar'/>

    <node pkg='tf2_ros' type="static_transform_publisher" name="base_link_to_camera"
        args='0.3 0.0 0.11 0.0 0.0 0.0 1.0 base_link Camera'/>
    
    <node pkg='tf2_ros' type="static_transform_publisher" name="base_link_to_gps"
        args='0.0 0.0 0.12 0.0 0.0 0.0 1.0 base_link gps'/>

    <!-- convert LiDAR Point Clouds 180' degree-->
    <node pkg="convert_lidar" type="convert_lidar" name="convert_lidar"/>
    
    <!-- LiDAR Object Dection-->
    <!-- <node pkg="object_detection" type="object_detection" name="object_detection"/>  -->

    <!-- odometery -->
    <include file="$(find racecar)/launch/teleop.launch"/>
    <group if="$(arg ekf)">
        <include file="$(find robot_localization)/launch/dual_ekf_navsat_example.launch"/>
    </group>
    <group unless="$(arg ekf)">
        <node pkg="wecar_ros" type="pub_odom.py" name="pub_odom"/>
    </group>

    <!-- load map -->
    <!-- <arg name = "map_file" default="$(find wecar_ros)/maps/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/> -->

    <!-- localization -->
    <!-- <include file="$(find wego_2d_nav)/launch/amcl.launch"/>
    <include file="$(find wego_2d_nav)/launch/move_base.launch"/> -->

    <!-- Control-->
    <!-- <node pkg="wecar_ros" type="wecar_planner_odom.py" name="wecar_planner" output="screen"/> -->
    <!-- <node pkg="wecar_ros" type="navigation_client.py" name="navigation_client"/>  -->


     
    <!-- visualization -->
    
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wecar_ros)/rviz/display.rviz"/> -->


    <!-- visualization -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wecar_ros)/rviz/slam_test.rviz"/> -->

    <!-- args = "(추종할 경로 이름)" -->
    <node pkg="wecar_ros" type="diff_odom.py" name="planner" output="screen" />
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wecar_ros)/rviz/planner.rviz" /> -->

</launch>
 
